body {
   background-color:  #fefcf0;
   font-family: 'PT Sans', sans-serif;
}

.center.container {
    width: 930px;
    margin: 0 auto;
}

header {
    height: 78px;
}

header .center.container {
    text-align: center;
}

header .logo {
    display: inline-block;
    margin-top: 9px;
    /* margin-left: 11px; */
}

.content {
    background-color: #fff;
}


.radio-container input {
    display: none;
}

.radio-container input:checked + label {
    background-color: #f9de91;
}


input.chk-box {
    display: none;
} 

.chk-box + label:before {
    content: '';
    display:inline-block;
    position: relative;
    top: 2px;
    margin-right: 6px;
    width:19px;
    height:19px;
    background: url(../images/elements.jpg) -685px -56px  no-repeat;
}

.chk-box:checked + label:before {
    background-position: -685px -340px;
}