.radio-container {
    font-size: 0;
}

.radio-style-payment-method label {
    display: inline-block;
    width: 182px;
    height: 87px;
    margin: 0px 20px 20px 0;
    border: 1px dashed black;    
    cursor: pointer;
}

.radio-style-payment-method label[for="payment-method-1"]{
    background: url(../images/sprite.payment-cards.png) no-repeat center;
}

.radio-style-payment-method label[for="payment-method-2"]{
    background: url(../images/sprite.payment-yandexmoney.png) no-repeat center;
}

.radio-style-payment-method label:nth-of-type(4n) {
    margin-right: 0px;
}

.radio-style-subsription-time label {
    display: inline-block;
    width: 166px;
    height: 89px;
    margin: 0 20px 15px 0;
    border: 1px dashed black;
    cursor: pointer;
}

.greyed + label {
    opacity: 0.5;
}


.content-header h1 {
    text-align: center;
    font-size: 39px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0px;
}

.content-header h2 {    
    text-align: center;    
    margin-top: 8px;    
    font-weight: normal;    
    font-size: 15px;
}

.content.container h2 {    
    text-align: center;    
    font-size: 15px;    
    margin: 0;    
    padding: 18px;    
    background-color: #edf1f4;
}

.content.container h3 {font-size: 20px;margin: 32px 0;}    

.order-blocks{
    padding: 0px 66px;
    padding-bottom: 41px;
    border-bottom: 1px solid #ccc;
}

.extra label {
    font-size: 18px;
} 

.order-block-2 .subsription-card-image {
    position: absolute;
    top: 0px;
    right: 0px;
}

.radio-style-subsription-time label {
    position: relative;
    padding: 10px;
}

.radio-style-subsription-time label p{
    font-size: 16px;
    margin: 0px;
}

.radio-style-subsription-time label p.subsription-price-monthly-label {
    font-size: 29px;
    position: absolute;
    bottom: 9px;
}

.radio-style-subsription-time label p.subsription-price-monthly-label .cur-period{
    font-size: 17px;
}

input[name="payment-gift"][disabled="disabled"] {
    display: none;
}

input[name="payment-gift"][disabled="disabled"] +label {
    display: none;
}

.price {font-size: 47px;font-weight: bold;} 

.main-price {

}

.add-price {
    display: none;
}

.result-price {
    display: none;
}

.currency {
    display: none;
}

.price.complex .add-price {
    display: inline;
}

.price.complex .result-price {
    display: inline;
}

.price.complex .currency {
    display: inline;
}

.copyright {
    display: inline-block;
}

.order-block-4 {
    background-color: #edf1f4;
}

.payment-info {
    display: inline-block;
    width: 253px;
    font-size: 14px;
    padding-left: 28px;
    vertical-align: top;
}

.payment-info-1 {
    background: url('../images/payment-info-1.png') left top no-repeat;
}

.payment-info-2 {
    background: url('../images/payment-info-1.png') left top no-repeat;
}


button[type="submit"] {
    width: 155px;
    height: 55px;
    background: url(../images/elements.jpg) -503px -60px  no-repeat;
    border: 0px;
    margin: 38px 0px;
}

button[type="submit"]:hover { 
    background-position: -503px -343px;
}

button[type="submit"]:disabled { 
    background-position: -503px -483px;
}

footer {
    height: 70px;
    line-height: 70px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-top: 35px;
}

.bottom-menu {
    display: inline-block;
}