<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Sieve of Eratosthenes</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

<script src="app.js"></script>

<style>
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------- */

[class^="jq-template"] {
	display: none !important;
}

.hide {
	display: none !important;
}

/* -------------------- */

.table.cols-5 .cell{
	box-sizing: border-box;
	display: inline-block;
    letter-spacing: 0;
}

.table.cols-5 .cell{
    width: 20%;   
}


/* -------------------- */


.controls-container{
	position: fixed;
	height: 50px;
	width: 100%;
	top: 0px;
    background-color: #ccc;
}

.controls-container #logo {
	position: absolute;
    left: 20px;
    top: 0px;
    padding: 20px;
    padding-left: 40px;
    background: url(http://www.crystalinks.com/eratosthenes.png) left center no-repeat;
    background-size: 10%;
}

.controls-container input.top-limit {
    margin: 15px;
    margin-left: 260px;
    width: 50%;
}

.container-scroll{
	position: fixed;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;	
}

.eratosthenes{
	position: absolute;
	/*bottom: 0;*/
	left:0;
	right:0;	
}

.eratosthenes{
	margin-top: 50px;
	padding-bottom: 50px;
}

.eratosthenes .cell{
    background-color: #C2CCB4;
    padding: 10px;
    border: 2px solid #fff;
	border-radius: 5px;
}

.table.cols-5 .cell:nth-child(10n-2){
	background-color: #ccc;
}
.table.cols-5 .cell:nth-child(10n-1){
	background-color: #ccc;
}
.table.cols-5 .cell:nth-child(10n+0){
	background-color: #ccc;
}
.table.cols-5 .cell:nth-child(10n+1){
	background-color: #ccc;
}
.table.cols-5 .cell:nth-child(10n+2){
	background-color: #ccc;
}

.eratosthenes .loading{
	height: 10px;
	padding: 20px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	text-align: center;
}

</style>

<script>

//my custom template
function jQCloneFill (e,data) {	
	if (e.length > 0){
		var res = e.clone().appendTo( e.parent() );		
		for (var k in data){
			res.html(res.html().split("{{"+k+"}}").join(data[k])); 				
		}	
		res.attr('class', res.attr('class').split("jq-template-").join(''));
		//res.removeClass('template');
	}
}

$( document ).ready(function() {	
	var inputTopLimit = $( ".controls-container input.top-limit" );
	//prime numbers upper limit routine
	//using debounce to prevent requests while quick typing
	inputTopLimit.on('input',_.debounce(function(e){
		
		$(".eratosthenes .cell").each(function(index){			
			if (parseInt($( this ).text()) > parseInt(inputTopLimit.val())){
				$( this ).addClass("hide");
			}
			else
			{
				$( this ).removeClass("hide");
			}
		})
	},500));
	
	//web workers to make new thread
	//TODO: use polyfills for old browser support
	var worker = new Worker('app.js');
	worker.onmessage = function (event) {		
		jQCloneFill($(".eratosthenes .jq-template-cell"),{data:event.data})		
		var d = $('.container-scroll');				
	};
	//load initial content
	worker.postMessage({to:4000});
	
	//lazy content loading
	var scrollCounter = 1;
	$( ".container-scroll" ).scroll(function() {
		if ($('.container-scroll').scrollTop() > $('.container-scroll').height()*scrollCounter){
			console.log($('.container-scroll').scrollTop());
			worker.postMessage({to:4000+2000*scrollCounter});
			scrollCounter++;			
		}
	});    
	
});

</script>

</head>

<body>

<div class="container-scroll">
	<div class="container table cols-5 eratosthenes">		
		<div class="jq-template-cell">
		{{data}}
		</div>		
		
		<div class="loading">
		Scroll down to load more.
		</div>
	</div>

	
</div>

<div class="controls-container">
	<div id="logo">Sieve of Eratosthenes Demo</div>
	
	<input type="text" oninput="this.value = this.value.replace(/[^0-9]/g, '');" 
	class="top-limit" placeholder="Limit prime numbers to your own number. For example 1000.">
	<!-- TODO: do we need old browser support for placeholder? -->
	<!--<div id="current-num"></div>-->
</div>

</body>

</html>